<ion-content>
  <div text-center class="login-text text-green bigger-text bold-font">LOGIN</div>
  <div text-center class="sub-heading small-text text-grey">Reference site about lorem ipsum, giving information on its origins..</div>
  <form padding [formGroup]="loginForm">
    <ion-item>
      <ion-label floating><ion-icon name="person"></ion-icon><span margin-left>Username/Email</span></ion-label>
      <ion-input class='full-input' type="email" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.email">
        <div class="error-message"
             *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon><span margin-left>Password</span></ion-label>
      <ion-input class='full-input' type="password" formControlName="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.password">
        <div class="error-message"
             *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <ion-item no-lines>
      <span class="medium-text text-grey" item-right>Forgot Password?</span>
    </ion-item>
    <div class="btn-div">
      <button (click)="login()" ion-button full round>Login</button>
    </div>
  </form>
  <div text-center class="medium-text bold-font">Or Login With</div>
  <div text-center margin-top>
    <span><img src="assets/img/fb.png"></span>
    <span><img src="assets/img/google.png"></span>
  </div>
  <div class="medium-text" margin-top text-center margin-bottom>
    <span>Don't have an account?</span><span class="text-green" (click)="signUp()">SIGN UP</span>
  </div>

</ion-content>
