page-tabs {
  .tabs-ios .tab-button{
    padding: 7px;
  }
  .tabs .tab-button-icon{
    font-size: 2rem !important;
  }
  .tab-button-text{
    font-size: 1rem !important;
    margin-top: 2px !important;
  }
  .tabs .tab-button {
    min-height: 4.8rem;
  }
  .tabs-ios .tab-button-icon{
    height: auto;
  }
}
