<ion-header>
  <ion-navbar>
    <ion-title text-center>Logo Name</ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only class="small-text">
        <img style="width: 60%" src="assets/img/premium.png">
      </button>
      <div text-center class="smallest-text text-white">Premium</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row">
    <div class="text-gray bold-font large-text" margin-top style="text-align: center;">Question of the Day</div>
    <button ion-button class="small-text btn-start" *ngIf="isQuestionListStart" (click)="tapQuestionList()">
      <div class="medium-text text-gray bold-font text-white">30:00</div>
      <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright" class="text-white"
        style="margin-left:10px;font-size: 3rem;"></ion-icon>
    </button>
  </div>
  <ion-item margin-bottom class="round-box" style="margin-top: 20%;">
    <div item-start class="medium-text bold-font text-grey" margin-bottom>Lorem Ipsum is simply dummy text of the
      printing and
      typesetting?</div>
  </ion-item>
  <ion-list margin-top class="list-table">
    <ion-item class="square-box">
      <div item-start class="medium-text bold-font text-grey " margin-bottom>Lorem Ipsum is simply dummy text of the
        printing and
        typesetting?</div>
    </ion-item>
    <ion-item class="square-box">
      <div item-start class="medium-text bold-font text-grey" margin-bottom>Lorem Ipsum is simply dummy text of the
        printing and
        typesetting?</div>
    </ion-item>
    <ion-item class="square-box">
      <div item-start class="medium-text bold-font text-grey" margin-bottom>Lorem Ipsum is simply dummy text of the
        printing and
        typesetting?</div>
    </ion-item>
  </ion-list>
  <button ion-button class="bigger-text submit-btn" *ngIf="!isQuestionListStart">
    <span style="padding-left: 16px;padding-right: 16px;">
      Submit Answer
    </span>
  </button>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-toolbar white-bg">
    <div class="row">
      <span style="position: absolute;left: 0px;top: 15px;" margin-left>1/10</span>
      <ion-buttons text-center padding-right>
        <button ion-button icon-only class="big-text bold-font">
          <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline" style=" margin-left: 100px;"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons text-center padding-right style="margin: auto;">
        <button ion-button icon-only class="big-text bold-font">
          <ion-icon ios="ios-flag-outline" md="ios-flag-outline"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons text-center>
        <button ion-button icon-only class="big-text bold-font">
          <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline" style=" margin-right: 100px;">
          </ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons style="position: absolute;right: 0px;" padding-right>
        <button ion-button icon-only class="big-text bold-font">
          <ion-icon class="text-black" ios="md-close" md="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>