page-review-details {
    .round-box{
        box-shadow: 1px 3px 4px #c8c7cc;
        border-radius: 10px;
      }

      .more{
        ion-item{background: transparent !important;}
      }

      .saperator-center{
          border-bottom: 2px solid #1fd40b;
      }
}
