page-home {
  .top-div{
    background: #f4f4f4;
    padding: 10pt 20pt;
    ion-item{background: transparent !important;}
  }
  .btn-div{
    margin: 10pt 30pt;
  }
  .round-box{
    box-shadow: 1px 3px 4px #c8c7cc;
    border-radius: 10px;
    padding: 5pt;
    margin: 3pt;
  }
  .more{
    background: #f4f4f4;
    margin: 25pt 0;
    ion-item{background: transparent !important;}
  }
  .percent{
    width: 80%;
  }
  .upgrade-btn{
    margin: 20pt;
  }
}
