page-history {
    .round-box{
        box-shadow: 1px 3px 4px #c8c7cc;
        border-radius: 10px;
      }
      .square-box{
        box-shadow: 1px 3px 4px #c8c7cc;
        border-bottom: 1px solid #80808052;
      }

    .footer-toolbar{
        background-color: white !important ;
        color: white !important;
    }
}
