page-exam-readiness {
  .round-grey-bg{
    border-radius: 10px;
    background: #E9E9E9;
    padding: 10pt;
    margin: 25pt 10pt;
  }
  .more{
    background: #f4f4f4;
    margin: 10pt 0 25pt 0;
    ion-item{background: transparent !important;}
  }
}
