page-past-exam {
    .round-box{
        box-shadow: 1px 3px 4px #c8c7cc;
        border-radius: 10px;
      }

      .more{
        background: #f4f4f4;
        ion-item{background: transparent !important;}
      }
}
